# Fetch all skills for a user
async def get_user_skills(user_id):
    conn = await get_db_connection()
    rows = await conn.fetch(
        "SELECT user_skill_id, skill_name, base_power, coin_power, coins, unbreakable "
        "FROM skills WHERE user_id = $1 ORDER BY user_skill_id ASC",
        str(user_id)
    )
    await conn.close()
    return rows

# Add or update a skill
async def upsert_skill(user_id, user_skill_id, skill_name, base_power, coin_power, coins, unbreakable):
    conn = await get_db_connection()
    await conn.execute(
        """
        INSERT INTO skills(user_id, user_skill_id, skill_name, base_power, coin_power, coins, unbreakable)
        VALUES($1, $2, $3, $4, $5, $6, $7)
        ON CONFLICT (user_id, user_skill_id)
        DO UPDATE SET skill_name = $3, base_power = $4, coin_power = $5, coins = $6, unbreakable = $7
        """,
        str(user_id), user_skill_id, skill_name, base_power, coin_power, coins, unbreakable
    )
    await conn.close()

# Delete a skill (or when coins are removed)
async def delete_skill(user_id, user_skill_id):
    conn = await get_db_connection()
    await conn.execute(
        "DELETE FROM skills WHERE user_id = $1 AND user_skill_id = $2",
        str(user_id), user_skill_id
    )
    await conn.close()

INSERT INTO skills VALUES('447096938450518016',1,'Savage Tigerslayer''s Perfected Flurry of Blades [超絕猛虎殺擊亂斬]',3,4,6,6);
INSERT INTO skills VALUES('447096938450518016',2,'Tarnished Blood''s Absolute Cleaver of Ambitions [汚血絕志竟成]',3,3,4,2);
INSERT INTO skills VALUES('729774089996075041',1,'S3-3',24,9,3,0);
COMMIT;
